In [1]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlant")
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
julia

('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlant')

In [2]:
#创建单元素的元组必须加逗号，不然类型是整型
tup = (5,)
type(tup)

tuple

In [3]:
x = (5)
type(x)

int

In [5]:
b = ("Bob", 19, "CS")
(name, age, studies) = b
age

19

In [7]:
def f(r):
    c = 2 * math.pi * r
    a = math.pi * r * r
    return (c,a)

In [8]:
def list_celebs(i):
    print(i[0][0], "was born in", i[0][1])
    print(i[1][0], "was born in", i[1][1])
    
celebs = (("Paris Hilton",  1981), ("Julia Roberts", 1967))
list_celebs(celebs)

Paris Hilton was born in 1981
Julia Roberts was born in 1967