In [1]:
vocabulary = ["apple", "cheese", "dog"]
numbers = [17, 123]
an_empty_list = []
print(vocabulary, numbers, an_empty_list)

['apple', 'cheese', 'dog'] [17, 123] []

In [2]:
numbers[9-8]

123

In [8]:
horsemen = ["war", "famine", "pestilence", "death"]
#for j in horsemen:
#    print(j)
for h in range(len(horsemen)):
    print(h)
    print(horsemen[h])

0
war
1
famine
2
pestilence
3
death

In [9]:
fruit = ["banana", "apple", "quince"]
fruit[0] = "pear"
fruit[2] = "orange"
fruit

['pear', 'apple', 'orange']

In [10]:
#add elements
a_list = ["a", "d", "f"]
a_list[1:1] = ["b", "c"]
a_list

['a', 'b', 'c', 'd', 'f']

In [12]:
a_list[4:4] = ["e"]
a_list

['a', 'b', 'c', 'd', 'e', 'e', 'f']

In [13]:
a = "banana"
b = "banana"
a is b

True

In [14]:
a = [1,2,3]
b = [1,2,3]
a == b

True

In [15]:
a is b

False

In [3]:
#enumerate
xs = [1,2,3,4,5]
for (i,val) in enumerate(xs):
    xs[i] = val ** 2
    print(xs[i])

1
4
9
16
25

In [2]:
for (i,v) in enumerate(["banana", "apple", "pear", "lemon"]):
    print(i,v)

0 banana
1 apple
2 pear
3 lemon

In [4]:
#list parameters
def double_stuff(a_list):
    """overwrite each element in a_list with double its value"""
    for (idx, val) in enumerate(a_list):
        a_list[idx] = 2 * val
        
things = [2,5,9]
double_stuff(things)
print(things)

[4, 10, 18]

In [6]:
#list methods
mylist = []
mylist.append(5) #add the argument passed to it to the end of the list
mylist.append(17)
mylist.append(3)
mylist.append(12)
mylist

[5, 17, 3, 12]

In [7]:
#
mylist.insert(1,12) #(idx, val)
mylist

[5, 12, 17, 3, 12]

In [8]:
mylist.count(12) #count times of val

2

In [9]:
mylist.extend([5,9,5,11])
mylist

[5, 12, 17, 3, 12, 5, 9, 5, 11]

In [10]:
mylist.index(9) #find the index of the value9

6

In [13]:
mylist.reverse()
mylist

[11, 5, 9, 5, 12, 3, 17, 12, 5]

In [14]:
mylist.sort() #排序
mylist

[3, 5, 5, 5, 9, 11, 12, 12, 17]

In [16]:
mylist.remove(12) #remove the first 12 in the list (just remove once in an operation)
mylist

[3, 5, 5, 5, 9, 11, 17]

In [17]:
def double_stuff(a_list):
    """return a new list which contains doubles of the elements in a_list"""
    new_list = []
    for value in a_list:
        new_elem = 2 * value
        new_list.append(new_elem)
    return new_list

things = [2,5,9]
xs = double_stuff(things)
things

[2, 5, 9]

In [18]:
xs

[4, 10, 18]

In [19]:
def is_prime(n):
    if
        return True
    
def primes_lessthan(n):
    """return a list of all prime numbers less than n."""
    result = []
    for i in range(2,n):
        if is_prime(i):
            result.append(i)
    return result

primes_lessthan(20)

NameError: name 'is_prime' is not defined

In [21]:
#split
song = "The rain in Spain..."
#wds = song.split()
wds = song.split("ai")
wds

['The r', 'n in Sp', 'n...']

In [22]:
#join
glue = ";"
s = glue.join(wds)
s

'The r;n in Sp;n...'

In [23]:
" --- ".join(wds)

'The r --- n in Sp --- n...'

In [24]:
"".join(wds)

'The rn in Spn...'

In [25]:
xs = list("Crunchy Frog")
xs

['C', 'r', 'u', 'n', 'c', 'h', 'y', ' ', 'F', 'r', 'o', 'g']

In [26]:
"".join(xs)

'Crunchy Frog'

In [30]:
#nested lists
nested = ["hello", 2.0, 5, [10, 20]]
print(nested[3])

[10, 20]

In [31]:
elem = nested[3]
elem[0]

10

In [32]:
nested[3][1]

20

In [33]:
#matrix
mx = [[1,2,3], [4,5,6], [7,8,9]]
mx[1]

[4, 5, 6]

In [34]:
mx[1][2]

6

In [1]:
#start, stop, step
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [1]:
import turtle
tess = turtle.Turtle()
alex = tess
alex.forward(100)
alex.color("hotpink") #the color of tess will not change by the color of alex

In [3]:
a = [1,2,3]
b = a[:]
b[0] = 5
print(b)

[5, 2, 3]

In [5]:
this = ["I","am", "not", "a", "crook"]
that = ["I","am", "not", "a", "crook"]
print("Test 1:{0}".format(this is that)) #this and that are two list with the same elements
that = this
print("Test 2:{0}".format(this is that))#this and that are the same list

Test 1:False
Test 2:True

In [10]:
import sys
def add_vectors(u, v):
    c = []
    for i in range(len(u)):
        c.append(u[i] + v[i])
    return c

def test(did_pass):
    linenum = sys._getframe(1).f_lineno #get the caller's line number
    if did_pass:
        msg = "Test at line {0} ok.".format(linenum)
    else:
        msg = ("Test at line {0} FAILED.".format(linenum))
    print(msg)

def test_suite():
    test(add_vectors([1, 1], [1, 1]) == [2, 2])
    test(add_vectors([1, 2], [1, 4]) == [2, 6])
    test(add_vectors([1, 2, 1], [1, 4, 3]) == [2, 6, 4])
test_suite()

Test at line 17 ok.
Test at line 18 ok.
Test at line 19 ok.

In [11]:
import sys
def scalar_mult(s,v):
    c = []
    for i in range(len(v)):
        c.append(s * v[i])
    return c
def test(did_pass):
    linenum = sys._getframe(1).f_lineno #get the caller's line number
    if did_pass:
        msg = "Test at line {0} ok.".format(linenum)
    else:
        msg = ("Test at line {0} FAILED.".format(linenum))
    print(msg)

def test_suite():
    test(scalar_mult(5, [1, 2]) == [5, 10])
    test(scalar_mult(3, [1, 0, -1]) == [3, 0, -3])
    test(scalar_mult(7, [3, 0, 5, 11, 2]) == [21, 0, 35, 77, 14])
test_suite()

Test at line 16 ok.
Test at line 17 ok.
Test at line 18 ok.

In [12]:
import sys
def dot_product(u,v):
    c = 0
    for i in range(len(v)):
        c  += u[i] * v[i]
    return c
def test(did_pass):
    linenum = sys._getframe(1).f_lineno #get the caller's line number
    if did_pass:
        msg = "Test at line {0} ok.".format(linenum)
    else:
        msg = ("Test at line {0} FAILED.".format(linenum))
    print(msg)

def test_suite():
    test(dot_product([1, 1], [1, 1]) == 2)
    test(dot_product([1, 2], [1, 4]) == 9)
    test(dot_product([1, 2, 1], [1, 4, 3]) == 12)

test_suite()

Test at line 16 ok.
Test at line 17 ok.
Test at line 18 ok.

In [13]:
import sys
def cross_product(u, v):
    return [(u[1] * v[2] - u[2] * v[1]), 
            (u[2] * v[0] - u[0] * v[2]), 
            (u[0] * v[1] - u[1] * v[0])]
def test(did_pass):
    linenum = sys._getframe(1).f_lineno #get the caller's line number
    if did_pass:
        msg = "Test at line {0} ok.".format(linenum)
    else:
        msg = ("Test at line {0} FAILED.".format(linenum))
    print(msg)

def test_suite():
    test(cross_product([3, -3, 1], [4, 9, 2]) == [-15, -2, 39])
    test(cross_product([3, -3, 1], [-12, 12, -4]) == [0, 0, 0])
test_suite()

Test at line 16 ok.
Test at line 17 ok.

In [14]:
song = "The rain in Spain..."
"".join(song.split())

'TheraininSpain...'

In [18]:
import sys
def replace(s, old, new):
    return new.join(s.split(old))
def test(did_pass):
    linenum = sys._getframe(1).f_lineno #get the caller's line number
    if did_pass:
        msg = "Test at line {0} ok.".format(linenum)
    else:
        msg = ("Test at line {0} FAILED.".format(linenum))
    print(msg)
    

def test_suite():
    test(replace("Mississippi", "i", "I") == "MIssIssIppI")
    s = "I love spom! Spom is my favorite food. Spom, spom, yum!"
    test(replace(s, "om", "am") == "I love spam! Spam is my favorite food. Spam, spam, yum!")
    test(replace(s, "o", "a") == "I lave spam! Spam is my favarite faad. Spam, spam, yum!")

test_suite()

Test at line 13 ok.
Test at line 14 ok.
Test at line 15 ok.

In [27]:
def swap(x, y):
    c = []
    for i in range(len(x)):
        c.append(x[i])
        x.append(y[i])
        y.append(c[i])

a = ["This", "is", "fun"]
b = [2,3,4]
i = len(a)
print("before swap function call: a:", a, "b:", b)
swap(a, b)
print("after swap function call: a:", a[i:], "b:", b[i:])

before swap function call: a: ['This', 'is', 'fun'] b: [2, 3, 4]
after swap function call: a: [2, 3, 4] b: ['This', 'is', 'fun']

In [21]:
def swap(x, y):
    global a, b
    #print("before swap function call: x:", x, "y:", y)
    (x, y) = (y, x)
    #print("after swap function call: x:", x, "y:", y)
    a = x
    b = y

a = ["This", "is", "fun"]
b = [2,3,4]
print("before swap function call: a:", a, "b:", b)
swap(a, b)
print("after swap function call: a:", a, "b:", b)

before swap function call: a: ['This', 'is', 'fun'] b: [2, 3, 4]
after swap function call: a: [2, 3, 4] b: ['This', 'is', 'fun']